.cards-container {
  padding : 0 40px;
}

.card-item {
  width : 32%;
  background : rgba(156, 188, 217, 0.2);
  border: 1px solid rgba(156, 188, 217, 0.7);
  padding : 14px 6px;
  color : #6581A6;
  margin-right: 4px;
  margin-bottom: 20px;
  // text-align : center;
}